<footer class="bg-black opacity-50 text-white px-6 py-4 w-full">
  <div class="flex justify-between items-center text-xs">
    <p>© 2024 Futbol Pro Training. Todos los derechos reservados.</p>
    <nav class="space-x-4">
      <a class="hover:text-[#d9f99d] hover:underline underline-offset-4">
        Terminos y condiciones</a
      >
      <a class="hover:text-[#d9f99d] hover:underline underline-offset-4">
        Privacidad</a
      >
    </nav>
  </div>
</footer>
